<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ciremun-headache</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    this app wuns my <a href="https://github.com/Ciremun/headache" style="color: #ff69b4">headache pwot</a> owo
    <img src="{{url_for('static', filename='plot.png')}}"/>
</body>
</html>